body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#intro-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#go-to-game {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.303);
  border: 2px solid rgba(255, 255, 255, 0.305);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  display: inline-block;
}

#go-to-game:hover {
  background-color: rgba(255, 255, 255, 0.249);
  color: rgba(0, 0, 0, 0.961);
}
#go-to-game:active {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.8);
}
#go-to-game:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
#go-to-game:disabled {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.3);
  cursor: not-allowed;
}
#go-to-game:disabled:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
}
#go-to-game:disabled:active {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
}
#go-to-game:disabled:focus {
  box-shadow: none;
}
