body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

#intro-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#intro-audio {
  display: none;
}

#go-to-game {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.403);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid rgba(38, 38, 38, 0.302);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: all 0.3s ease;
}

#go-to-game:hover {
  background: rgba(61, 61, 61, 0.1);
  transform: translateX(-50%) scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}
