body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-image: url("need-for-speed-hot-pursuit_5120x2288_xtrafondos.com.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1200px;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #ff6b6b;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.campeonatos-btn {
  height: 120px;
}
.menu-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.back-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #ff6b6b;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.back-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateX(-50%) scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
